*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.fadeDown {
  animation: fadeDown .4s ease backwards;
}

.fadeUp {
  animation: fadeUp .3s ease;
}

body {
  background-color: #121725;
  color: #C2CBE5;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

.container {
  position: relative;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 53px;
  text-align: center;
  padding: 62px 24px;
}

.container::before {
  content: '';
  background-image: url('./assets/mobile/image-host.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.09;
}

main {
  display: grid;
  justify-items: center;
  gap: 16px;
  max-width: 325px;
}

h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.46;
  text-transform: uppercase;
}

span {
  color:#54E6AF;
}

p {
  max-width: 35ch;
  font-size: 15px;
  line-height: 1.667;
}

.platforms {
  padding: 17px 0;
  display: flex;
  gap: 12px 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.platforms img:nth-of-type(1) {
  width: 56px;
}
.platforms img:nth-of-type(2) {
  width: 45px;
}
.platforms img:nth-of-type(3) {
  width: 73px;
}
.platforms img:nth-of-type(4) {
  width: 77px;
}

form {
  display: grid;
  position: relative;
  width: 100%;
  gap: 1rem;
  font-weight: 400;
  padding-top: 15px;
}

input {
  padding: 0 32px;
  height: 46px;
  border: none;
  border-radius: 2rem;
  background-color: #2C344B;
  color: #fff;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  outline: 1px solid transparent;
  transition: all 0.4s;
}

input::placeholder {
  color: #C2CBE5;
}

input:focus-visible {
  outline: 1px solid rgba(84, 230, 175, 0.8);
}

button {
  border: 1px transparent;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0rem .75rem;
  height: 46px;
  background-color:#54E6AF;
  color: #121725;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  transition: background-color 0.4s;
}

button:hover, button:focus {
  background-color: #B3FFE2;
  outline: 0;
}

#error {
  display: none;
  position: absolute;
  color: #FB3E3E;
  font-weight: bold;
  font-size: 12px;
  top: -10px;
  left: 32px;
}

@media screen and (min-width: 500px) {
  .container {
    padding: 50px 39px;
    text-align: left;
    justify-content: left;
  }

  main {
    max-width: 100%;
    justify-items: left;
    padding: 93px 0;
    gap: 30px;
  }

  h1 {
    font-size: 48px;
    line-height: 1.167;
  }

  p {
    font-size: 18px;
    line-height: 1.556;
    max-width: 40ch;
  }

  .platforms {
    order: 2;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 536px;
    padding: 35px 0;
  }

  .platforms img:nth-of-type(1) {
    width: 25%;
    max-width: 96px;
  }
  .platforms img:nth-of-type(2) {
    width: 25%;
    max-width: 78px;
  }
  .platforms img:nth-of-type(3) {
    width: 25%;
    max-width: 125px;
  }
  .platforms img:nth-of-type(4) {
    width: 25%;
    max-width: 129px;
  }

  form {
    grid-auto-flow: column;
    max-width: 427px;
    padding-top: 11px;
  }

  input {
    height: 56px;
  }

  button {
    position: absolute;
    right: 5px;
    top: 16px;
    width: 162px;
  }

  #error {
    top: 78px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    min-height: unset;
  }
  .container::before {
    background-image: url('./assets/tablet/image-host.jpg');
    background-size: unset;
    background-position: top right;
    opacity: .9;
  }
  
  .container::after {
    content: url('./assets/desktop/bg-pattern-dots.svg');
    position: absolute;
    bottom: -4px;
    left: 30px;
  }

  header {
    margin-bottom: 95px;
  }

  main {
    background-color:#121725;
    max-width: 635px;
    padding: 93px 39px 93px 0;
  }
}

@media screen and (min-width: 1050px) {
  .container {
    padding: 102px 165px;
    max-width: 1500px;
    margin: 0 auto;
  }

  .container::before {
    background-image: url('./assets/desktop/image-host.jpg');
    background-position-y: 130px;
    background-position-x: clamp(425px, 100%, 625px);
  }

  .container::after {
    content: url('./assets/desktop/bg-pattern-dots.svg');
    bottom: 86px;
    left: unset;
    right: 0; 
  }

  header {
    margin-bottom: 46px;
  }

  main {
    max-width: 723px;
    padding: 88px 39px 0 0;
    gap: 24px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.19;
  }

  form {
    padding-top: 16px;
  }

  button {
    top: 21px;
  }

  .platforms {
    padding: 40px 0;
  }
}