/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ANIMATIONS */
@keyframes fadeBgMobile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.09;
  }
}

@keyframes fadeBg {
  0% {
    opacity: 0;
    transform: translateX(0.9375rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(0.625rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fadeOut {
    animation: fadeOut .3s ease;
  }

  .fadeDown {
    animation: fadeDown .4s ease backwards;
  }
}

/* MAIN */
body {
  background-color: #121725;
  color: #C2CBE5;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

.container {
  position: relative;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 3.3125rem;
  text-align: center;
  padding: 3.875rem 1.5rem;
}

.container::before {
  content: '';
  background-image: url('./assets/mobile/image-host.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.09;
  animation: fadeBgMobile .7s ease;
}

header {
  animation: fadeUp 1s .3s ease backwards;
}

main {
  display: grid;
  justify-items: center;
  gap: 1rem;
  max-width: 20.3125rem;
  animation: fadeUp 1s .3s ease backwards;
}

h1 {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.46;
  text-transform: uppercase;
}

span {
  color:#54E6AF;
}

p {
  max-width: 35ch;
  font-size: 0.9375rem;
  line-height: 1.667;
}

.podcasts {
  padding: 1.0625rem 0;
  display: flex;
  gap: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.podcasts img:nth-of-type(1) {
  width: 3.5rem;
}
.podcasts img:nth-of-type(2) {
  width: 2.8125rem;
}
.podcasts img:nth-of-type(3) {
  width: 4.5625rem;
}
.podcasts img:nth-of-type(4) {
  width: 4.8125rem;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

form {
  display: grid;
  position: relative;
  width: 100%;
  gap: 1rem;
  font-weight: 400;
  padding-top: 0.9375rem;
}

input {
  padding: 0 2rem;
  height: 2.875rem;
  border: none;
  border-radius: 2rem;
  background-color: #2C344B;
  color: #fff;
  font-size: 0.875rem;
  line-height: 2;
  font-weight: 400;
  outline: 0.0625rem solid transparent;
  transition: all 0.4s;
}

input::placeholder {
  color: #C2CBE5;
  font-weight: bold;
}

input:focus-visible {
  outline: 0.0625rem solid rgba(84, 230, 175, 0.8);
}

button {
  border: 0.0625rem transparent;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0rem .75rem;
  height: 2.875rem;
  background-color:#54E6AF;
  color: #121725;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2;
  transition: background-color 0.4s;
}

button:hover, button:focus {
  background-color: #B3FFE2;
  outline: 0;
}

#error, 
#success {
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: 0.75rem;
  top: -0.625rem;
  left: 2rem;
}

#error {
  color: #FB3E3E;
}

#success {
  color:#54E6AF;
}

@media screen and (min-width: 500px) {
  .container {
    padding: 3.125rem 2.4375rem;
    text-align: left;
    justify-content: left;
  }

  main {
    max-width: 100%;
    justify-items: left;
    padding: 5.8125rem 0;
    gap: 1.875rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.167;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.556;
    max-width: 40ch;
  }

  .podcasts {
    order: 2;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 33.5rem;
    padding: 2.1875rem 0;
  }
  
  .podcasts img:nth-of-type(1) {
    width: 25%;
    max-width: 6rem;
  }
  .podcasts img:nth-of-type(2) {
    width: 25%;
    max-width: 4.875rem;
  }
  .podcasts img:nth-of-type(3) {
    width: 25%;
    max-width: 7.8125rem;
  }
  .podcasts img:nth-of-type(4) {
    width: 25%;
    max-width: 8.0625rem;
  }

  form {
    grid-auto-flow: column;
    max-width: 26.6875rem;
    padding-top: 0.6875rem;
  }

  input {
    height: 3.5rem;
  }

  button {
    position: absolute;
    right: 0.3125rem;
    top: 1rem;
    width: 10.125rem;
  }

  #error, #success {
    top: 4.875rem;
  }
}

@media screen and (min-width: 600px) {
  .container {
    min-height: unset;
  }

  .container::before {
    background-image: url('./assets/tablet/image-host.jpg');
    background-size: unset;
    background-position: top right;
    opacity: 1;
    animation: fadeBg 1s ease;
  }
  
  .container::after {
    content: url('./assets/desktop/bg-pattern-dots.svg');
    position: absolute;
    bottom: -0.25rem;
    left: 1.875rem;
    animation: fadeLeft 1s ease backwards;
  }

  header {
    margin-bottom: 5.9375rem;
    animation: fadeIn 1s ease backwards;
  }

  main {
    background-color:#121725;
    max-width: 39.6875rem;
    padding: 5.8125rem 2.4375rem 5.8125rem 0;
    animation: fadeUp .9s .1s ease backwards;
  }
}

@media screen and (min-width: 1050px) {
  .container {
    padding: 6.375rem 10.3125rem;
    max-width: 93.75rem;
    margin: 0 auto;
  }

  .container::before {
    background-image: url('./assets/desktop/image-host.jpg');
    background-position-y: 8.125rem;
    background-position-x: clamp(26.5625rem, 100%, 39.0625rem);
  }

  .container::after {
    content: url('./assets/desktop/bg-pattern-dots.svg');
    bottom: 5.375rem;
    left: unset;
    right: 0; 
    animation: fadeRight 1s .1s ease backwards;
  }

  header {
    margin-bottom: 2.875rem;
  }

  main {
    max-width: 45.1875rem;
    padding: 5.5rem 2.4375rem 0 0;
    gap: 1.5rem;
  }

  h1 {
    font-size: 3.25rem;
    line-height: 1.19;
  }

  form {
    padding-top: 1rem;
  }

  button {
    top: 1.3125rem;
  }

  .podcasts {
    padding: 2.5rem 0;
  }
}